@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Yanone Kaffeesatz', serif;
$font-code: 'JetBrains Mono', monospace;

$back-color: #1c1f1f;
$primary-color: #ccc;
$title-color: #cecece;
$color-accent: #41c5c7;
$color-accent-light: #fff;
$gray-darkest: #151717;
$gray-dark: #2e2e32;
$gray: #888;
$gray-light: #ccc;
$gray-lighter: #555;
$yellow: #fffac4;
