body { padding: 0; margin: 0 }

#unity-container { position: absolute }

#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }

#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }

#unity-canvas { background: #FFFFFF }

.unity-mobile #unity-canvas { width: 100%; height: 100% }

#unity-loading-bar {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#unity-logo {
    width: 150px;
    height: 150px;
    background: url("logo.png") no-repeat center / contain;
    filter: drop-shadow(0 0 25px);
}

#unity-progress-bar-empty {
    margin-top: 10px;
    width: 150px;
    height: 18px;
    background-image: url("progress.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 25px);
}

#unity-progress-bar-full {
    width: 0;
    height: 15px;
    background: url("progress-bar.png") no-repeat left / cover;
}

#unity-footer { position: relative }

.unity-mobile #unity-footer { display: none }

#unity-fullscreen-button { float: right; width: 74px; height: 72px; background: url("fullscreen.png") no-repeat center }

#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

#unity-container {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

#unity-fullscreen-button {
    transition: opacity 0.33s;
    opacity: 0.85;
}

#unity-fullscreen-button:hover, #unity-fullscreen-button:active {
    opacity: 1;
}

body {
    background: url("bg.webp") no-repeat center center fixed;
    background-size: cover;
}

#unity-canvas {
    background: transparent !important;
    filter: drop-shadow(0 0 25px);
}

canvas {
    opacity: 0;
    transition: opacity 2s;
    border-radius: 25px;
}

canvas[width] {
    opacity: 1;
}
